<div class="container">
    <h4>
        Supplier Listing
        <button class="btn btn-success btn-sm" (click)="openAddSupplierModal()">
            <i class="bi bi-plus"></i> Add Supplier
        </button>
    </h4>

    <!-- Supplier Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over supplier items and display them -->
            <tr *ngFor="let supplier of supplierList">
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.address }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Action
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" (click)="editSupplier(supplier)">Eidt</a></li>
                          <li><a class="dropdown-item" (click)="deleteSupplier(supplier)">Delete</a></li>
                        </ul>
                      </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #addSupplierModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add Supplier</h4>
        <button type="button" class="close" (click)="closeModal()">
            <span>&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <app-add-supplier [supplier]="this.selectedSupplier"></app-add-supplier>
    </div>
</ng-template>
